.main-nav {
  background: black;
  padding: 16px 32px;
}

.main-nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.main-nav li {
  display: flex;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background 0.2s, color 0.2s;
  display: block;
}

.main-nav a:hover {
  background: #e50914;
  color: black;
}

.main-nav li.right {
  margin-left: auto;
}