.movie-details {
  max-width: 900px;
  margin: 40px auto;
  background: #181818;
  padding: 32px 24px;
  border-radius: 10px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.2);
  color: #fff;
  display: flex;
  gap: 32px;
  align-items: flex-start;
}
.movie-img {
  width: 260px;
  height: 390px;
  object-fit: cover;
  border-radius: 8px;
  background: #222;
}
.info {
  flex: 1;
}
.info h2 {
  margin-top: 0;
  color: #e50914;
}
a {
  color: #e50914;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.actions {
  display: flex;
  gap: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.actions button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

.actions button:first-child {
  background-color: #007bff; /* син за Edit */
  color: white;
}

.actions button:first-child:hover {
  background-color: #0056b3;
  color: black;
}

.actions button:last-child {
  background-color: #e50914; /* червен за Delete */
  color: white;
}

.actions button:last-child:hover {
  background-color: #b00610;
  color: black;
}